DASHBOARD_USERS_JSON=[{"username":"usuario.institucional","displayName":"Nome do usuário","password":"use-uma-senha-forte"}]
DASHBOARD_SESSION_SECRET=use-ao-menos-32-caracteres-aleatorios
ATENDE_SYNC_TOKEN=gere-um-token-aleatorio-com-pelo-menos-32-caracteres
